{% extends "zerver/portico_error_pages/portico_error_page.html" %}

{% block title %}
<title>{{ _("Unsupported browser") }} | {{ branding.name }}</title>
{% endblock %}

{% block error_page_content %}
<img src="{{ static('images/errors/400art.svg') }}" alt=""/>
<div class="errorbox config-error">
    <div class="errorcontent">
        <h1 class="lead">{{ _('Unsupported browser') }}</h1>
        <p>
            {% trans %}
            {% trans product_name=branding.name %}
            {{ browser_name }} is not supported by {{ product_name }}.
            {% endtrans %}
            {% endtrans %}
        </p>
        <p>
            {% trans supported_browsers_page_link="/help/supported-browsers", product_name=branding.name %}
            {{ product_name }} supports <a href="{{ supported_browsers_page_link }}">modern browsers</a>
            like Firefox, Chrome, and Edge.
            {% endtrans %}
        </p>
        <p>
            {% trans apps_page_link=apps_page_url, product_name=branding.name %}
            You can also use the <a href="{{ apps_page_link }}">{{ product_name }} desktop app</a>.
            {% endtrans %}
        </p>
    </div>
</div>
{% endblock %}
