<div class="widget-choices sp-widget-card sp-widget-zform">
    <div class="sp-widget-header">
        <div class="sp-widget-title-wrap">
            <h4 class="sp-widget-title">{{ heading }}</h4>
            <span class="sp-widget-pill">Choices</span>
        </div>
    </div>

    <ul class="sp-widget-choice-list">
        {{#each choices}}
            <li class="sp-widget-choice">
                <button class="sp-widget-choice-btn" type="button" data-idx="{{ this.idx }}">
                    {{ this.short_name }}
                </button>
                <span class="sp-widget-choice-label">{{ this.long_name }}</span>
            </li>
        {{/each}}
    </ul>
</div>
