<div class="location-memory-section">
    <div class="location-memory-header">
        <h2>{{t 'Location memory' }}</h2>
        <div class="location-memory-context">{{context_label}}</div>
    </div>

    <div class="alert" id="location_memory_error"></div>

    <div class="location-memory-form">
        <textarea
          id="location-memory-textarea"
          class="location-memory-textarea"
          placeholder="{{t 'Enter memory for this location…' }}"
        ></textarea>
        <button
          id="save-location-memory-button"
          class="action-button action-button-solid-brand"
          type="button"
        >
            {{t 'Save' }}
        </button>
    </div>
</div>
