{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_url }}/email_logo.png" alt=""/>
{% endblock %}

{% block content %}
{% if account_found %}
<p>{{ _("Thanks for your request!") }}</p>

{% if corporate_enabled %}
<p>{% trans branding_name=branding_name %}Your email address {{ email }} has accounts with the following {{ branding_name }} Cloud organizations:{% endtrans %}</p>
{% else %}
<p>{% trans branding_name=branding_name %}Your email address {{ email }} has accounts with the following {{ branding_name }} organizations hosted by {{ external_host }}:{% endtrans %}</p>
{% endif %}

<ul>
    {% for realm_data in realms %}
    <li><a href="{{ realm_data.url }}">{{ realm_data.name }} ({{ realm_data.host }})</a></li>
    {% endfor %}
</ul>

<p>
    {% trans %}If you have trouble logging in, you can <a href="{{ help_reset_password_link }}">reset your password</a>.{% endtrans %}
</p>
{% else %}
<p>
    {% trans branding_name=branding_name %}You have requested a list of {{ branding_name }} accounts for this email address.{% endtrans %}
    {% if corporate_enabled %}
    {% trans branding_name=branding_name %}Unfortunately, no {{ branding_name }} Cloud accounts were found.{% endtrans %}
    {% else %}
    {% trans branding_name=branding_name %}Unfortunately, no accounts were found in {{ branding_name }} organizations hosted by {{ external_host }}.{% endtrans %}
    {% endif %}
</p>

<p>
    {% trans %}You can <a href = "{{ find_accounts_link }}" >check for accounts</a> with another email, or <a href ="{{ help_logging_in_link }}">try another way</a> to find your account.{% endtrans %}
    {{ _("If you do not recognize this request, you can safely ignore this email.") }}
</p>
{% endif %}
{% endblock %}
