{% extends "zerver/emails/email_base_default.html" %}

{% block illustration %}
<img src="{{ email_images_base_url }}/email_logo.png" alt=""/>
{% endblock %}

{% block content %}
<p>
    {% trans branding_name=branding_name %}Your request for {{ branding_name }} sponsorship has been approved! Your organization has been upgraded to the <a href="{{ plans_link }}">{{ branding_name }} Community plan</a>.{% endtrans %}
</p>
<p>
    {% trans branding_name=branding_name %}If you could <a href="{{ link_to_zulip }}">list {{ branding_name }} as a sponsor on your website</a>, we would really appreciate it!{% endtrans %}
</p>

{% endblock %}
